@font-face {
  font-family: "Digital-7";
  src: url("./assets/fonts/digital-7/digital-7.ttf") format("ttf");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Digital-7";
}
